<div class="container">
  <div class="row">
    <h1 class="text-center mt-4">Recipe Detail</h1>
  </div>
  <div class="row">
   <div class="col">
    <h2 class="text-center">Ingredients</h2>
    <mat-list>
        <mat-list-item>
          <span matListItemTitle>Title</span>
          <span matListItemLine>Second line</span>
        </mat-list-item>
        <mat-list-item>
          <span matListItemTitle>Title</span>
          <span>Second line</span>
        </mat-list-item>
        <mat-list-item>
          <span matListItemTitle>Title</span>
          Second line
        </mat-list-item>
      </mat-list>
   </div>
    <div class="col">
        <h2 class="text-center">Details</h2>
        <mat-list>
            <mat-list-item>
              <span matListItemTitle>Title</span>
              <span matListItemLine>Second line</span>
            </mat-list-item>
            <mat-list-item>
              <span matListItemTitle>Title</span>
              <span>Second line</span>
            </mat-list-item>
            <mat-list-item>
              <span matListItemTitle>Title</span>
              Second line
            </mat-list-item>
          </mat-list>
    </div>
  </div>
  <div class="row mt-4">
    <h2 class="text-center">Instructions</h2>
    <p></p>
  </div>
</div>

