<div class="login-container tui-space_vertical-3 tui-align_center">
    <form class="b-form" [formGroup]="loginForm" class="tui-space_vertical-3">
      <tui-input formControlName="usernameInput">
        Enter your username
        <input tuiTextfield type="text">
      </tui-input>
      <tui-input formControlName="passwordInput">
        Enter your password
        <input tuiTextfield type="password">
      </tui-input>
      <div class="button-container tui-space_horizontal-3 tui-space_vertical-3">
        <button appearance="primary" tuiButton type="button" class="tui-space_right-3 button-login">
          Login
        </button>
        <button appearance="secondary" routerLink="/register" tuiButton type="button">
          Register
        </button>
      </div>
    </form>
  </div>
  