<div class="inventory-container">
<div class="inventory-form">
    <form [formGroup]="form">
        <tui-input formControlName="name">
            Item name
            <input tuiTextfield />
        </tui-input>
        <tui-input-number formControlName="quantity">
            Quantity
        </tui-input-number>
        <tui-input formControlName="category">
            Select category
            <input tuiTextfield />
        </tui-input>
        <button tuiButton type="submit">Add Item</button>
    </form>
</div>
</div>

<div class="inventory-table">
    <table tuiTable class="table">
        <thead>
            <th>Name</th>
            <th>Quantity</th>
            <th>Category</th>
            <th>Expiration Date</th>
        </thead>
        <tbody>
            <tr *ngFor="let item of items">
                <td>{{ item.name }}</td>
                <td>{{ item.quantity }}</td>
                <td>{{ item.category }}</td>
                <td>{{ item.expirationDate | date }}</td>
            </tr>
        </tbody>
    </table>
</div>