<div class="inventory-container">
    <!-- Form Section Container -->
    <div class="form-section-container">
        <form [formGroup]="addItemsForm" (ngSubmit)="addItem()" class="inventory-form">

            <!-- Barcode Section -->
            <div class="barcode-section">
                <tui-input formControlName="barcode">
                    Barcode
                    <input tuiTextfield type="text" />
                </tui-input>
                <app-barcode-scanner></app-barcode-scanner>
            </div>

            <!-- Rest of the Form -->
            <div class="form-section">
                <tui-input formControlName="name">
                    Item name
                    <input tuiTextfield />
                </tui-input>
                <tui-input-number formControlName="quantity" class="tui-space_vertical-3">
                    Quantity
                </tui-input-number>
                <tui-input formControlName="category">
                    Select category
                    <input tuiTextfield />
                </tui-input>

                <!-- Dynamic Expiration Date Fields -->
                <div *ngFor="let dateControl of expirationDates; let i = index">
                    <tui-input-date formControlName="expirationDates[i]" class="tui-space_vertical-3">
                        Expiration Date {{i + 1}}
                        <input tuiTextfield />
                    </tui-input-date>
                </div>

                <button tuiButton type="submit" class="tui-space_vertical-3">Add Item</button>
            </div>

        </form>
    </div>
</div>
