<div class="container inventory-edit">
  <h3>{{ data.name }}</h3>
  <table class="table table-striped inventory-edit-modal">
    <thead>
      <tr>
        <th scope="col">Baleni</th>
        <th scope="col">Amount</th>
        <th scope="col">Unit</th>
        <th scope="col">Expiration Date</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of data.items; let i = index">
        <th scope="row">{{ i + 1 }}</th>
        <td>
          <span *ngIf="!item.editMode">{{ item.amount }}</span>
          <input *ngIf="item.editMode" [(ngModel)]="item.amount" class="edit-input" />
        </td>
        <td>
          <span *ngIf="!item.editMode">{{ item.unit }}</span>
          <input *ngIf="item.editMode" [(ngModel)]="item.unit" class="edit-input"/>
        </td>
        <td>
          <span *ngIf="!item.editMode">{{ formatExpirationDate(item.expirationDate) }}</span>
          <input *ngIf="item.editMode" [(ngModel)]="item.expirationDate" class="edit-input"/>
        </td>
        <td>
          <button *ngIf="!item.editMode" (click)="toggleEditMode(item)" class="btn btn-info btn-sm">Edit Item</button>
          <button *ngIf="item.editMode" (click)="saveChanges(item)" class="btn btn-success btn-sm">Save</button>
          <button (click)="deleteItemById(data._id, item._id)" class="btn btn-danger btn-sm">Delete</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
