<div class="container mt-4">
  <h2>Add a Recipe</h2>
  <form [formGroup]="recipeForm" (ngSubmit)="onSubmit()">
    <!-- Recipe Name -->
    <div class="mb-3">
      <label for="name" class="form-label">Recipe Name</label>
      <input type="text" id="name" class="form-control" formControlName="name">
    </div>
    <!-- Ingredients -->
    <div formArrayName="ingredients" class="mb-3">
      <label class="form-label">Ingredients</label>
      <div *ngFor="let ingredient of ingredients.controls; let i = index" class="mb-2 position-relative">
        <div class="d-flex align-items-center">
          <input type="text" [formControlName]="i" class="form-control mr-2" style="width: 30%;">

          <!-- Amount and Unit Fields -->
          <div class="d-flex">
            <div class="mr-2" style="width: 30%;">
              <input type="text" placeholder="Amount" class="form-control" formControlName="amount" />
            </div>
            <div  class="mr-2" style="width: 30%;">
              <input type="text" placeholder="Unit" class="form-control" formControlName="unit" />
            </div>
            <div >
              <button type="button" class="btn btn-success btn-sm" (click)="addIngredientToForm(i)">Add</button>
            </div>
          </div>
        </div>
      </div>
      <div *ngIf="selectedIngredients.length > 0" class="mb-2">
        <p>Selected Ingredients:</p>
        <ul>
          <li *ngFor="let selectedIngredient of selectedIngredients; let i = index">
            {{ selectedIngredient.name }} - {{ selectedIngredient.amount }} {{ selectedIngredient.unit }}
            <button type="button" class="btn btn-danger btn-sm" (click)="removeIngredient(i)">Delete</button>
          </li>
        </ul>
      </div>
      <!-- <button type="button" class="btn btn-link" (click)="addIngredient()">+ Add Ingredient</button> -->
    </div>
    <!-- Instructions -->
    <div class="mb-3">
      <label class="form-label">Instructions</label>
      <textarea class="form-control" formControlName="instructions"></textarea>
    </div>
    <!-- Cooking Time -->
    <div class="mb-3">
      <label class="form-label">Time to Cook (minutes)</label>
      <input type="number" class="form-control" formControlName="cookTime">
    </div>
    <!-- Portions -->
    <div class="mb-3">
      <label class="form-label">Portions</label>
      <input type="number" class="form-control" formControlName="portions">
    </div>
    <!-- Pictures -->
    <div class="mb-3">
      <label class="form-label">Recipe Picture</label>
      <input type="file" class="form-control" formControlName="picture">
    </div>
    <!-- Submit Button -->
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>
