<div class="container mt-4">
  <h2>Add a Recipe</h2>
  <form [formGroup]="recipeForm" (ngSubmit)="onSubmit()">

    <!-- Recipe Name Field -->
    <div class="mb-3">
      <label for="name" class="form-label">Recipe Name</label>
      <input type="text" id="name" class="form-control" formControlName="name">
    </div>

    <!-- Ingredients Section -->
    <div formArrayName="ingredients" class="mb-3">
      <label class="form-label">Ingredients</label>
      <div *ngFor="let ingredient of ingredients.controls; let i = index" [formGroupName]="i"
        class="mb-2 position-relative">
        <div class="d-flex align-items-center">
          <input type="hidden" formControlName="id">
          <!-- Ingredient Name Input -->
          <input type="text" formControlName="name" class="form-control mr-2" placeholder="Name">

          <!-- Ingredient Amount Input -->
          <input type="text" formControlName="amount" class="form-control mr-2" placeholder="Amount">

          <!-- Ingredient Unit Input -->
          <input type="text" formControlName="unit" class="form-control mr-2" placeholder="Unit">

          <!-- Add Ingredient Button -->
          <button type="button" class="btn btn-success btn-sm" (click)="addIngredientToForm(i)">Add</button>

        </div>
      </div>
    </div>

    <!-- Display Selected Ingredients -->
    <div *ngIf="recipeForm.get('ingredientsAdded')?.value.length > 0">
      <h3>Selected Ingredients:</h3>
      <ul>
        <li *ngFor="let ingredient of recipeForm.get('ingredientsAdded')?.value; let i = index">
          {{ ingredient.id }} {{ ingredient.name }}: {{ ingredient.amount }} {{ ingredient.unit }}
          <!-- Remove Ingredient Button -->
          <button type="button" class="btn btn-danger btn-sm" (click)="removeIngredientById(i)">Remove</button>
        </li>
      </ul>
    </div>

    <!-- Instructions Field -->
    <div class="mb-3">
      <label class="form-label">Instructions</label>
      <textarea class="form-control" name="instructions" formControlName="instructions" required minlength="4"></textarea>
      <div *ngIf="recipeForm.get('instructions')?.invalid && (recipeForm.get('instructions')?.dirty || recipeForm.get('instructions')?.touched)" class="alert">
        <div *ngIf="recipeForm.get('instructions')?.errors?.required">Instructions are required.</div>
        <div *ngIf="recipeForm.get('instructions')?.errors?.minlength">
          Instructions must be at least 4 characters long.
        </div>
      </div>
    </div>

    <!-- Cooking Time Field -->
    <div class="mb-3">
      <label class="form-label">Time to Cook (minutes)</label>
      <input type="number" class="form-control" formControlName="cookTime">
    </div>

    <!-- Portions Field -->
    <div class="mb-3">
      <label class="form-label">Portions</label>
      <input type="number" class="form-control" formControlName="portions">
    </div>

    <!-- Recipe Picture Field -->
    <div class="mb-3">
      <label class="form-label">Recipe Picture</label>
      <input type="file" class="form-control" formControlName="picture">
    </div>

    <!-- Submit Button -->
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>