h2 {
    text-align: center;
    font-size: 25px;
    font-weight: 400;
}
.recipe-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 60px;
    width: 60%; /* Set the width of the container */
    margin-left: auto; /* Center align the container */
    margin-right: auto;
}
.form-section-container {
  width: 100%;
}

.inventory-form {
    display: flex;
    gap: 20px;
  }

.form-section,
.image-section {
  flex: 1;
}

.form-section {
  flex-basis: 75%;
  text-align: center;
  margin-bottom:10%
}
.image-section {
  flex-basis: 25%; /* Adjust the width as needed */
}

.ingredients-section {
    flex-basis: 50%;
    width: 50%;
    display: inline-block;
    text-align: center;
}

.instructions-section {
    flex-basis: 50%;
    width: 50%;
    display:inline-block;
    text-align: center;
    margin-bottom:10%
}

.ingredients-input {
    width: 25%;
    display: inline-block;
 
}

.ingredient {
    text-align: center;
    width: 100%;
}

.titleCooktimePortions {
    width: 30%;
    display: inline-block;
}

.btn-add-recipe {
  text-align: center;
}