<div class="recipe-section">
<!-- Form Section Container -->
<div class="form-section-container">
    <form [formGroup]="addRecipeForm" (ngSubmit)="postNewRecipe()" class="recipe-form">
      
        <div class="image-section">
            <tui-input formControlName="image">
                Image
                <input tuiTextfield type="text" />
            </tui-input>
            <app-barcode-scanner></app-barcode-scanner>
        </div>

        <div class="form-section">
            <tui-input class=" tui-space_vertical-3" formControlName="title">
                title
                <input tuiTextfield />
            </tui-input>
            <tui-input class=" tui-space_vertical-3" formControlName="ingredients">
           cooktime
                <input tuiTextfield />
            </tui-input>
            <tui-input class=" tui-space_vertical-3" formControlName="instructions">
            portions
                <input tuiTextfield />
            </tui-input>
        </div>

        <div class="ingredients-section">
            <h2>ingredients</h2>
        </div>

        <div class="instructions-section">
            <h2>instructions</h2>
        </div>

        <button tuiButton type="submit" class="tui-space_vertical-3">Add Recipe</button>

    </form>
  </div>
</div>