h2 {
    text-align: center;
    font-size: 25px;
    font-weight: 400;
}
.recipe-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 60px;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
}

.form-section-container {
  width: 100%;
}

.recipe-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.top-section {
  display: flex;
  width: 100%;
  align-items: stretch; /* Add this line */
}

.image-section {
  flex-basis: 25%;
  display: flex; /* Add this line */
  justify-content: center; /* Add this line */
}

.fields-section {
  flex-basis: 75%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.bottom-section {
  display: flex;
  width: 100%;
}

.ingredients-section {
  flex-basis: 50%;
}

.instructions-section {
  flex-basis: 50%;
}

/* Additional CSS for tui-input-files */
.tui-input-files {
  height: 100%; /* Add this line */
  display: flex; /* Add this line */
  align-items: center; /* Add this line */
}

.ingredients-input {
    width: 25%;
    display: inline-block;
 
}

.ingredient {
    text-align: center;
    width: 100%;
}

.titleCooktimePortions {
    width: 30%;
    display: inline-block;
}

.btn-add-recipe {
  text-align: center;
}