<div class="register-container tui-space_vertical-3 tui-align_center">
    <form class="tui-space_vertical-3">
      <tui-input formControlName="nameInput" class="tui-space_vertical-3">
        Enter your name
        <input tuiTextfield type="text">
      </tui-input>
      <tui-input formControlName="usernameInput" class="tui-space_vertical-3">
        Enter your username
        <input tuiTextfield type="text">
      </tui-input>
      <tui-input formControlName="passwordInput" class="tui-space_vertical-3">
        Enter your password
        <input tuiTextfield type="password">
      </tui-input>
      <tui-input formControlName="passwordInput" class="tui-space_vertical-3">
        Repeat your password
        <input tuiTextfield type="password">
      </tui-input>
      <tui-input formControlName="emailInput" class="tui-space_vertical-3">
        Enter your email address
        <input tuiTextfield type="email">
      </tui-input>


      <div class="button-container">
        <button appearance="secondary" class="tui-space_vertical-3" size="m" style="display:inline-block" routerLink="/register" tuiButton type="button">
          Register
        </button>
        <p class="tui-space_horizontal-3 tui-space_vertical-4" style="display:inline-block">Already have an account?</p>
        <button appearance="outline" class="tui-space_vertical-3" size="s" style="display:inline-block" routerLink="/" tuiButton="button">Sign in</button>
      </div>
        
     



      <!-- <div class="container existing-account">
        <p class="tui-space_horizontal-3 tui-space_vertical-3">Already have an account?</p>
        <button appearance="outline" size="s" routerLink="/" tuiButton="button">Sign in</button>
      </div> -->
    </form>
  </div>
  
