.existing-account {
    display: flex;
    justify-content:center;
    align-items: center;
 
}

.register-container {
    display: flex;
    justify-content:center;
    align-items: center;
    min-height:100vh;
    
}

.register-form {
    justify-content: center;
    align-items: center;
    width: 60%;
}
.button-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .right-content {
    display: flex;
    align-items: center;
  }

  .notifications {
    text-align:center;
    justify-content: center;
  }