<div class="register-container">
  <form class="register-form tui-space_vertical-3" [formGroup]="registerForm">
    <tui-input formControlName="nameInput" id="nameInput" [required]="true" class="tui-space_vertical-3">
      Enter your name
      <input tuiTextfield type="text" />
    </tui-input>
    <div *ngIf="registerForm.get('nameInput')?.invalid && (registerForm.get('nameInput')?.dirty || registerForm.get('nameInput')?.touched)" class="alert">
      <div *ngIf="registerForm.get('nameInput')?.hasError('required')">Name is required.</div>
    </div>
    
    <tui-input formControlName="usernameInput" [required]="true" class="tui-space_vertical-3">
      Enter your username
      <input tuiTextfield type="text" />
    </tui-input>
    <div *ngIf="registerForm.get('usernameInput')?.invalid && (registerForm.get('usernameInput')?.dirty || registerForm.get('usernameInput')?.touched)" class="alert">
      <div *ngIf="registerForm.get('usernameInput')?.hasError('required')">Username is required.</div>
    </div>

    <tui-input formControlName="emailInput" [required]="true" class="tui-space_vertical-3">
      Enter your email address
      <input tuiTextfield type="email" />
    </tui-input>
    <div *ngIf="registerForm.get('emailInput')?.invalid && (registerForm.get('emailInput')?.dirty || registerForm.get('emailInput')?.touched)" class="alert">
      <div *ngIf="registerForm.get('emailInput')?.hasError('required')">Email is required.</div>
    </div>

    <tui-input-password formControlName="passwordInput" [required]="true" class="tui-space_vertical-3">
      Enter your password
      <input tuiTextfield type="password" />
    </tui-input-password>
    <div *ngIf="registerForm.get('passwordInput')?.invalid && (registerForm.get('passwordInput')?.dirty || registerForm.get('passwordInput')?.touched)" class="alert">
      <div *ngIf="registerForm.get('passwordInput')?.hasError('required')">Password is required.</div>
    </div>

    <tui-input-password formControlName="repeatPasswordInput" [required]="true" class="tui-space_vertical-3">
      Repeat your password
      <input tuiTextfield type="password" />
    </tui-input-password>
<div *ngIf="registerForm.hasError('passwordMismatch') && registerForm.get('repeatPasswordInput')?.invalid && (registerForm.get('repeatPasswordInput')?.dirty || registerForm.get('repeatPasswordInput')?.touched)" class="alert">
      <div *ngIf="registerForm.get('repeatPasswordInput')?.hasError('required')">Passwords don't match.</div>
    </div>

    <div class="button-container">
      <button
        appearance="secondary"
        class="tui-space_vertical-3"
        size="m"
        tuiButton
        type="button"
        (click)="register()"
      >
        Register
      </button>

      <div class="right-content">
        <p class="tui-space_horizontal-3 tui-space_vertical-4">
          Already have an account?
        </p>
        <button
          appearance="outline"
          class="tui-space_vertical-3"
          size="s"
          tuiButton="button"
          routerLink="/"
        >
          Sign in
        </button>
      </div>
    </div>

    <div class="notifications">
      <tui-notification status="success" *ngIf="successNotification" class="tui-space_vertical-4">
        Registration successful
      </tui-notification>
      <tui-notification status="error"  *ngIf="errorNotification" class="tui-space_vertical-4">
       Registration failed
      </tui-notification>
    </div>
  </form>
</div>
