<tui-tiles class="tiles" [debounce]="500" [(order)]="order">
  <tui-tile
    *ngFor="let item of items; let index = index"
    class="tile"
    [height]="item.h"
    [style.order]="order.get(index)"
    [width]="item.w"
    tuiTile
  >
    <div class="content">
      <div [ngSwitch]="item.type">
        <div *ngSwitchCase="'recipes'">
          <h2>{{ item.content }}</h2>
          <table tuiTable class="table" [columns]="columns">
            <thead tuiThead>
                <tr tuiThGroup>
                    <th tuiTh [resizable]="true" class="nameColumn">
                        Name
                    </th>
                    <th tuiTh>
                        Action
                    </th>
                    
                </tr>
            </thead>
            <tbody tuiTbody [data]="recipesData">
                <tr tuiTr *ngFor="let recipe of recipesData">
                    <td tuiTd *tuiCell="'name'">
                        {{ recipe.name }}
                    </td>
                    <td tuiTd *tuiCell="'actionbuttons'">
                        action buttons
                    </td>
                </tr>
            </tbody>
          </table>
        </div>
        <div *ngSwitchCase="'add-item'" class="add-item">
          <!-- Custom content for add-item -->
          <h2 routerLink="/add-item" class="add-item-btn">{{ item.content }}</h2>
        </div>
        <div *ngSwitchCase="'expiration-date'">
            <!-- Custom content for add-item -->
            <h2>{{ item.content }}</h2>
           <p>dgvd</p>
          </div>
        <div *ngSwitchDefault>
          <!-- Default content for other types -->
          <h2 class="title">{{ item.content }}</h2>
          Order - {{ order.get(index) ?? index }} (Debug)
        </div>
      </div>
      <tui-svg src="tuiIconDragLarge" tuiTileHandle class="handle"></tui-svg>
    </div>
  </tui-tile>
</tui-tiles>
