<tui-tiles class="tiles" [debounce]="500" [(order)]="order">
  <tui-tile
    *ngFor="let item of items; let index = index"
    class="tile"
    [height]="item.h"
    [style.order]="order.get(index)"
    [width]="item.w"
    tuiTile
  >
    <div class="content">
      <div [ngSwitch]="item.type">
        <div *ngSwitchCase="'recipes'">
          <h2>{{ item.content }}</h2>
          <table tuiTable class="table" [columns]="columns">
            <thead tuiThead>
                <tr tuiThGroup>
                    <th tuiTh [resizable]="true" class="nameColumn">
                        Name
                    </th>
                    <th tuiTh>
                      CookTime
                  </th>
                    <th tuiTh>
                        Action
                    </th>
                </tr>
            </thead>
            <tbody tuiTbody [data]="recipesData">
                <tr tuiTr *ngFor="let recipe of recipesData">
                    <td tuiTd *tuiCell="'name'">
                        {{ recipe.name }}
                    </td>
                    <td tuiTd *tuiCell="'cookTime'">
                      {{ recipe.cookTime }} minutes
                  </td>
                    <td tuiTd *tuiCell="'actionbuttons'">
                        <button [routerLink]="'/edit-recipes/' + recipe._id">
                          Edit
                        </button>
                    </td>
                </tr>
            </tbody>
          </table>
        </div>
        <div *ngSwitchCase="'add-item'" class="add-item">
          <!-- Custom content for add-item -->
          <h2 routerLink="/add-item" class="add-item-btn">{{ item.content }}</h2>
        </div>
        <div *ngSwitchCase="'expiration-date'">
            <!-- Custom content for add-item -->
            <h2>{{ item.content }}</h2>
          

            <table tuiTable class="table" [columns]="expColumns">
              <thead tuiThead>
                  <tr tuiThGroup>
                      <th tuiTh [resizable]="true" class="nameExpColumn">
                          Name
                      </th>
                      <th tuiTh>
                        Expiration Date
                    </th>
                      <th tuiTh>
                          Amount
                      </th>
                  </tr>
              </thead>
              <tbody tuiTbody [data]="expData">
                <tr tuiTr *ngFor="let inventoryGroup of sortedExpData"> 
                  <!-- V tomto uz nebudeme brat kazdu inventoryGroup z expData, ktore sme dostali z backendu, ale z sortedExpData, z tych vysortovanych podla expiration date -->
                  <td tuiTd *tuiCell="'name'">
                    {{ inventoryGroup.name }}
                  </td>
                  <td tuiTd *tuiCell="'expirationDate'">
                    {{ getEarliestExpiringItem(inventoryGroup.items)?.expirationDate | date: 'dd.MM.yyyy' }}
                  </td>
                  <td tuiTd *tuiCell="'amount'">
                    {{ getEarliestExpiringItem(inventoryGroup.items)?.amount }}
                  </td>
                </tr>
              </tbody>
            </table>

            <tui-table-pagination
            [total]="100"
            [(page)]="page"
            [items]="[4, 8, 12]"
  ></tui-table-pagination>
   
          </div>
        <div *ngSwitchDefault>
          <!-- Default content for other types -->
          <h2 class="title">{{ item.content }}</h2>
          Order - {{ order.get(index) ?? index }} (Debug)
        </div>
      </div>
      <tui-svg src="tuiIconDragLarge" tuiTileHandle class="handle"></tui-svg>
    </div>
  </tui-tile>
</tui-tiles>
