<tui-tiles class="tiles" [debounce]="500" [(order)]="order">
  <tui-tile *ngFor="let item of items; let index = index" class="tile" [height]="item.h"
    [style.order]="order.get(index)" [width]="item.w" tuiTile>
    <div class="content">
      <div [ngSwitch]="item.type">
        <div *ngSwitchCase="'recipes'">
          <h2>{{ item.content }}</h2>
          <table tuiTable class="table" [columns]="columns">
            <thead tuiThead>
              <tr tuiThGroup>
                <th tuiTh [resizable]="true" class="nameColumn">
                  Name
                </th>
                <th tuiTh>
                  CookTime
                </th>
                <th tuiTh>
                  Action
                </th>
              </tr>
            </thead>
            <tbody tuiTbody [data]="paginatedRecipes">
              <tr tuiTr *ngFor="let recipe of paginatedRecipes">
                <td tuiTd *tuiCell="'name'">
                  {{ recipe.name }}
                </td>
                <td tuiTd *tuiCell="'cookTime'">
                  {{ recipe.cookTime }} minutes
                </td>
                <td tuiTd *tuiCell="'actionbuttons'">
                  <button [routerLink]="'/edit-recipes/' + recipe._id">
                    Edit
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
          <tui-table-pagination [total]="totalRecipes" [(page)]="pageRecipes" [size]="sizeRecipes"></tui-table-pagination>
        </div>
        <div *ngSwitchCase="'add-item'" class="add-item">
          <!-- Custom content for add-item -->
          <h2 routerLink="/add-item" class="add-item-btn">{{ item.content }}</h2>
        </div>
        <div *ngSwitchCase="'expiration-date'">
          <h2>{{ item.content }}</h2>
          <table tuiTable class="table" [columns]="expColumns">
            <thead tuiThead>
              <tr tuiThGroup>
                <th tuiTh [resizable]="true" class="nameExpColumn">Name</th>
                <th tuiTh>Expiration Date</th>
                <th tuiTh>Amount</th>
                <th tuiTh>Delete</th>
              </tr>
            </thead>
            <tbody tuiTbody [data]="paginatedExpData"> 
              <!-- Tu sme definovali, ze tie data pridu z tych, ktore su uz na paginator pripravene, takze je vyratane kolko sa ma zobrazit na kazdej stranke -->
              <tr tuiTr *ngFor="let inventoryGroup of paginatedExpData">
                <td tuiTd *tuiCell="'name'">{{ inventoryGroup.name }}</td>
                <td tuiTd *tuiCell="'expirationDate'">
                  {{ getEarliestExpiringItem(inventoryGroup.items)?.expirationDate | date: 'dd.MM.yyyy' }}
                </td>
                <td tuiTd *tuiCell="'amount'">
                  {{ getEarliestExpiringItem(inventoryGroup.items)?.amount }}
                </td>
                <td tuiTd *tuiCell="'delete'" (click)="deleteItem(inventoryGroup._id, getEarliestExpiringItem(inventoryGroup.items)?._id)"><tui-svg src="tuiIconClose" class="remove"></tui-svg></td>
              </tr>
            </tbody>
          </table>
        
          <tui-table-pagination [total]="total" [(page)]="page" [size]="size"></tui-table-pagination>
        </div>
        <div *ngSwitchDefault>
          <!-- Default content for other types -->
          <h2 class="title">{{ item.content }}</h2>
          Order - {{ order.get(index) ?? index }} (Debug)
        </div>
      </div>
      <tui-svg src="tuiIconDragLarge" tuiTileHandle class="handle"></tui-svg>
    </div>
  </tui-tile>
</tui-tiles>