h2:hover{
    opacity:0.8
}
.tiles {
    gap: 1rem;
    grid-auto-rows: minmax(100px, auto);
}

.tile:before {
    content: 'Drop here';
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    color: var(--tui-base-04);
    border-radius: var(--tui-radius-l);
    border: 2px dashed var(--tui-base-03);
}

.content {
    height: 100%;
    padding: 1rem;
    background: var(--tui-base-01);
    box-sizing: border-box;
    border-radius: var(--tui-radius-l);
    border: 7px solid var(--tui-base-03);
    overflow: hidden;
}

.content.transition {
    transition: box-shadow;
}

.content.tui-tile._dragged {
    box-shadow: var(--tui-shadow-hover);
}


.title {
    margin: 0 0 1rem;
}

.handle {
    position: absolute;
    right: 0.75rem;
    top: 1rem;
    background: var(--tui-base-01);
    opacity: 0.3;
    cursor: move;
}

.handle:hover {
    opacity: 10;
}

.tui-tiles:not(._dragged) .tui-tile:hover .handle,
.tui-tile._dragged .handle {
    opacity: 0.7;
}

.add-item {
    background-color:antiquewhite;
    text-align: center;
}

.add-item-btn{
    cursor: pointer;
}

.table {
    width: 100%;
}

.nameColumn{
    width: 75%;
}